*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
   width: 300px; height: 450px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
   align-items: center;
}
input{
    width: 260px; height: 60px;
    font-size: 18px;
}
input:focus{
    outline: none;
}
p{
    width: 100%;
    height: 160px;
    font-size: 20px;
    padding-left: 20px;
}